@forward "../base/";
.body {
  background-image: url("/app/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.primary-header {
  align-items: center;
  justify-content: space-between;
  // padding: 1rem;
}
.grid-container {
  --mid-width: 69.4rem;
  --gap: 0.6rem;
  --cols: 4;
  grid-template-columns: 1fr;
  // grid-auto-rows: minmax(20rem, 1fr);
  // margin-top: 3rem;
  grid-template-columns: minmax(var(--space-lf, 0), 1fr) repeat(
      var(--cols, 4),
      calc(
        calc(
            min(100% - var(--space-lr, 2rem), var(--mid-width)) -
              var(--cols, calc(var(--cols) - 1)) * var(--gap)
          ) / var(--cols)
      )
    ) minmax(var(--space-rt, 0), 1fr);
  
  row-gap: 0;
}
.grid-container > * {
  grid-column: 2;
  grid-column-end: -2;
}
.main div:last-child > a {
  margin-top: 4rem;
}
.main div:first-child {
  display: grid;
  justify-content: center;
}
.main div:first-child > p {
  max-width: 60ch;
}
.main div:first-child > h1:has(span) {
  font-weight: 200;
}
.main div:first-child h1 > span {
  font-weight: 200;
  font-size: 4rem;
}
/*--navbar---*/
.nav {
  position: fixed;
  flex-direction: column;
  right: -100%;
  backdrop-filter: blur(70px);
  padding: 1em;
  bottom: 0;
  top: 0;
  z-index: 100;
  width: min(75%, 20rem);
  flex-wrap: wrap;
}
.nav.slide-in {
  animation: slide_in 0.5s ease-in forwards;
}
.nav.slide-out {
  animation: slide_out 0.5s ease-in-out forwards;
}
@keyframes slide_in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes slide_out {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
.nav button {
  margin: 1rem 0.8rem 0 auto;
  background-color: transparent;
}
.primary-nav {
  --gap: 1rem;
  flex-direction: column;
  justify-content: center;
}
.primary-nav li a {
  color: inherit;
}
.primary-nav > * {
  border-width: 0;
}
@media screen and (min-width: 48em) {
  .body {
    background-image: url("/app/assets/home/background-home-tablet.jpg");
  }
  .header button,
  .nav button {
    display: none;
  }
  // navbar
  .nav {
    position: static;
    flex-direction: row;
    margin-inline: auto;
    width: initial;
    backdrop-filter: blur(70px);
  }
  .primary-nav {
    gap: 3rem;
    flex-direction: initial;
  }
  .primary-nav li:first-child > a > span {
    display: none;
  }
  .primary-nav > * {
    border-width: 0.2em;
  }
}
@media screen and (min-width: 61.25em) {
  .body {
    background-image: url("/app/assets/home/background-home-desktop.jpg");
  }
  .grid-container {
    --gap: 2rem;
    --cols: 12;
    grid-template-columns:minmax(var(--space-lf, 0), 1fr) repeat(var(--cols), calc(calc(min(100% - var(--space-lr, 2rem), var(--mid-width)) - var(--cols, calc(var(--cols) - 1)) * var(--gap)) / var(--cols))) minmax(var(--space-rt, 0), 1fr);
  }
  .grid-container div:first-child {
    justify-content: start;
    grid-column: 2 / 8;
  }
  .grid-container div:last-child {
    grid-column: 8 / -2;
  }

  .main div:first-child {
    text-align: left;
  }
  .primary-nav {
    --gap: 4rem;
  }
  .main div:first-child {
    text-align: left;
  }
  .primary-nav {
    --gap: 4rem;
  }
  .nav {
    margin: 0 5rem 0 auto;
    margin-top: 0;
  }

}
