@use "./variables" as v;
@use "./maps" as m;
/*flex*/
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin responsive-width($width: 40px) {
  width: min(100% - $width, 62.5rem);
  margin: 0 auto;
}
@mixin bg-image() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@mixin flex-container() {
  display: flex;
  gap: 1.4rem;

  .img {
    flex-shrink: 0;
  }
  h2 {
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: map-get(m.$font-weights, bold);
    color: v.$verydarkBlue;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 0;
    max-width: 30ch;
  }
}

/*grid-layout*/
@mixin grid-layout() {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
